[Unit]
Description=nework bridge %I
After=network.target

[Service] 
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=/etc/conf.d/net

ExecStart=/sbin/brctl addbr %i
ExecStart=/bin/ifconfig %i ${config_%i} up
ExecStart=/bin/ifconfig ${bridge_%i} up
ExecStart=/sbin/brctl addif %i $(bridge_%i}
# Uncomment for static routes in /etc/conf.d
#ExecStart=/bin/ip route add default via ${routes_%i}

#ExecStop=/bin/ip route del default via ${routes_%i}
ExecStop=/bin/ifconfig ${bridge_%i} down 
ExecStop=/bin/ifconfig %i down
ExecStop=/sbin/brctl delbr %i

[Install]
WantedBy=multi-user.target

